html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 86px;
}

@media  (max-width: 1366px) {
  .container{
    padding: 0 43px;

  }
}
@media  (max-width: 1007px) {
  .container{
    padding: 0 22px;

  }
}




