.header {
  height: 65px;
  background-color:  black;
  color: #fff;
  
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 86px;
}

.logo h3{
font-size: 20px;
font-weight: 500;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
}
.menu li a {
  font-size: 14px;
  font-weight: 500;
  padding: 30px 20px;
}

@media  (max-width: 1366px) {
  .container{
    padding: 0 43px;

  }
}
